* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* adição de breakpoints para algumas telas */
@media (min-width: 600px) and (max-width: 1000px) {
  body {
    background-color: #000;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  body {
    background-color: #00f;
  }
}
